.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1, p{
    color: var(--border-color);
    font-size: 14px;
    font-weight: 500;
}

.errMessage{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 800;
    color: var(--font-color);
    text-align: center;
}

.link{
    margin: 20px;
    color: var(--border-color);
    font-weight: 800;
    text-decoration: none;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Media Queries */
@media (min-width: 768px){
    .container{
        margin-top: 50px;
    
    }
    h1, p{
        font-size: 18px;
    }
    .errMessage{
        font-size: 20px;
    }
}